<div class="row">
    <div class="col-lg-offset-2 col-md-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5 class="text-center">Login</h5>
                <form name="loginForm" class="form form-signup" role="form" novalidate >
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            <input type="email" class="form-control" placeholder="Email Address" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input ng-model="user.password" type="password" class="form-control" placeholder="Password"/>
                        </div>
                    </div>
                    <input  ng-click="login()" ng-disabled="loginForm.$invalid" class="btn btn-sm btn-primary btn-block" type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>

</div>