<div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
        <div class="panel-body">
            <h5 class="text-center">Registration</h5>
            <form name="userDetails"   id="registerAsOwner"  class="form"  role="form" novalidate>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="name" class="form-control" placeholder="Name"  />
                    </div>
                    <span class="erorr"></span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span> </span>
                        <input id="email" type="text"  class="form-control" placeholder="Email Address" />
                    </div>
                    <span class="erorr"></span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input id="pass"  type="password" class="form-control" placeholder="Password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input id="pass_conf" type="password" class="form-control" placeholder="Password Confirmation" />
                    </div>
                </div>
                <input  class="btn btn-lg btn-primary btn-block" type="submit" value="Register"/>
            </form>
        </div>
    </div>
</div>